<html ng-app="myModule">
  <head>
    <title>Angular JS | Welcome </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <!-- INCLUDE JS  -->
    <script src="script.js"></script>
    <!--  include css -->
    <link href="index.css" type="text/css" rel="stylesheet" />
  </head>

  <!--  to starting work with angular use ng-app -->
  <body>
    <div>
        <!--  here {{}} is called binding expression to write any angular code -->
        10 + 20 =>  {{ 10 + 20  }}
    </div>
    <!--  just compare -->
    <div>
      {{ 1 == 2}}
    </div>

    <!-- use javascript plain object -->
    <div>
        {{ {name:'sunny khurana',age:'30'}.name }}
    </div>

    <!-- use array -->
    <div>
        {{ ['sahil','khurana','sunny','khurana'][2]}}
    </div>

    <div ng-controller="myController">
        <!-- here we use the controller -->
        {{ message }}
    </div>

    <!--  here we use second controller -->
    <div ng-controller="mySecondController">
        <div>
            First Name : - {{ employee.firstname }} <br />
            Last Name : - {{ employee.lastname }} <br />
            Gender : - {{ employee.gender }}
        </div>
    </div>

    <!-- use the another controller -->
    <div ng-controller="imagecontroller">
      <!-- <img src="Flag_of_the_United_States.svg.png" style="width:100px;height:100px"> -->

      <!--  use the properties-->
      <div>
          Name => {{ country.name }}
      </div>

      <div>
          Country Name => {{ country.capital  }}
      </div>

      <div>
        <!-- <img src="{{  country.flag  }}" style="height:100px;width:100px"> -->
      </div>

      <!--  use the image with ng-src -->
      <div>
          <img ng-src="{{ country.flag }}" style="height:100px;width:100px;">
      </div>

      <!-- use  two way data binding -->
      <div ng-controller="two-wayBinding">

          <!-- here we use the ng-model directive which means change in view  update the model-->
          <input type="text" ng-model ="message" />
          <br /><br />
          {{ message }}
      </div>

      <!-- use the concept of automatically create the model means change in view update the model automatically -->
      <div ng-controller ="two-wayBinding">

          <input type="text" ng-model="greetings">
          <br/><br/>
          {{  greetings  }}

      </div>
    <div ng-controller="TableController">
      <h3>Use Two-Way Data Binding</h3>
      <table>
          <tr>
            <td>First Name</td>
            <td>
              <input type="text" ng-model = "Collegename.name">
            </td>
          </tr>

          <tr>
            <td>College Place </td>
            <td>
              <input type="text" ng-model = "Collegename.place">
            </td>
          </tr>


          <tr>
            <td>College Course</td>
            <td>
              <input type="text" ng-model = "Collegename.course">
            </td>
          </tr>
      </table>
      <br />
      <br />
      <br />

      <table>
          <tr>
            <td>First Name</td>
            <td>
                {{  Collegename.name }}
            </td>
          </tr>

          <tr>
            <td>College Place </td>
            <td>
              {{  Collegename.place }}
            </td>
          </tr>


          <tr>
            <td>College Course</td>
            <td>
                {{  Collegename.course }}
            </td>
          </tr>
      </table>
    </div>

    <!--  use the concept of ng-repeat - it works similar like foreach loop in c# -->

    <div ng-controller="NGRepeat">
      <table>
          <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>Salary</th>
              </tr>
          </thead>

          <tbody>
              <!--  here ng-repeat use as a foreach loop in another languages-->
              <tr ng-repeat="employee in employees">
                  <td>{{ employee.firstname }}</td>
                  <td>{{ employee.lastname }}</td>
                  <td>{{ employee.gender }}</td>
                  <td>{{ employee.salary }}</td>
              </tr>
          </tbody>

      </table>
    </div>

    <!-- use the nested ng-repeat -->
    <div ng-controller="nesting-repeat">
        <ul>
            <li ng-repeat="country in countries">
              {{ country.name }}
                <ul>
                  <li ng-repeat="city in country.cities">
                    {{ city.name }}
                  <li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- show the indes n parent index  -->
    <div ng-controller="nesting-repeat">
        <ul>
            <li ng-repeat="country in countries">
              {{ country.name }} - index {{ $index  }}
                <ul>
                  <li ng-repeat="city in country.cities">
                    {{ city.name }} -parentindex = {{ $parent.$index }},- index {{ $index  }}
                  </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- second way indexing  -->
    <div ng-controller="nesting-repeat">
        <ul>
            <li ng-repeat="country in countries"  ng-init="parentIndex=$index">
              {{ country.name }} - index {{ $index  }}
                <ul>
                  <li ng-repeat="city in country.cities">
                    {{ city.name }} -parentindex = {{   parentIndex }},- index {{ $index  }}
                  </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- event handling in angular js -->
    <div ng-controller = "handlingevents">
      <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Likes</th>
              <th>Dislikes</th>
              <th>Like/Dislike</th>
          </tr>
         </thead>

         <tbody>
            <tr ng-repeat="technology in technologies">
              <td>{{ technology.name }}</td>
              <td>{{ technology.likes }}</td>
              <td>{{ technology.dislikes }}</td>
              <td>
                <input type="button" value="Like" ng-click ="incrementLikes(technology)">
                <input type="button" value="Dislikes" ng-click ="incrementdisLikes(technology)">
              </td>
            </tr>
         </tbody>
      </table>
    </div>


    <!-- use the filteration here -->
    <div ng-controller="filteruse">
      <table>

        <!--  use pagination here -->
        Rows to display : <input type="number" step="1" min="0" max="5" style="margin-top:10px;" ng-model="rowlimit">
        <br /><br />

          <thead>
              <tr>
                <th>First Name</th>
                <th>Date Of Birth</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Salary</th>
              </tr>
          </thead>

          <tbody>
              <tr ng-repeat="worker in workers | limitTo:rowlimit">
                  <td>{{ worker.firstname | uppercase }}</td>
                  <td>{{ worker.dateOfBirth | date:"dd/mm/yyyy" }}</td>
                  <td>{{ worker.lastname | uppercase}}</td>
                  <td>{{ worker.gender | uppercase }}</td>
                  <td>{{ worker.salary | currency }}</td>
              </tr>
          </tbody>
      </table>
    </div>


    <!-- sorting -->
    <div ng-controller="Sorting">
      Order By:- <select ng-model="sortcolumn">
                    <option value="firstname">Firstname Asc</option>
                    <option value="lastname">Lastname Asc</option>
                    <option value="dateOfBirth">DateOfBirth Asc</option>
                    <option value="gender">Gender Asc</option>
                    <<option value="salary">Salary Asc</option>
                 </select>
      <table>
          <thead>
              <tr>
                <th>First Name</th>
                <th>Date Of Birth</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Salary</th>
              </tr>
          </thead>

          <tbody>
              <tr ng-repeat="worker in workers | orderBy: sortcolumn ">
                  <td>{{ worker.firstname | uppercase }}</td>
                  <td>{{ worker.dateOfBirth | date:"dd/mm/yyyy" }}</td>
                  <td>{{ worker.lastname | uppercase}}</td>
                  <td>{{ worker.gender | uppercase }}</td>
                  <td>{{ worker.salary | currency }}</td>
              </tr>
          </tbody>
      </table>
    </div>


    <!-- search filter in angular js -->
    <div ng-controller="SearchController">
      <table>
          Search :- <input type="text" placeholder="SearchEmployees" style="margin-top:20px;" ng-model ="searchtext" >
          <br /><br />
          <thead>
              <tr>
                <th>First Name</th>
                <th>Date Of Birth</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Salary</th>
              </tr>
          </thead>

          <tbody>
              <tr ng-repeat="worker in workers | orderBy: sortcolumn | filter:searchtext">
                  <td>{{ worker.firstname | uppercase }}</td>
                  <td>{{ worker.dateOfBirth | date:"dd/mm/yyyy" }}</td>
                  <td>{{ worker.lastname | uppercase}}</td>
                  <td>{{ worker.gender | uppercase }}</td>
                  <td>{{ worker.salary | currency }}</td>
              </tr>
          </tbody>
      </table>
    </div>

    </div>

  </body>
</html>
