<html ng-app="myModule">
  <head>
    <title>Angular JS | Welcome </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <!-- INCLUDE JS  -->
    <script src="script.js"></script>
  </head>

  <!--  to starting work with angular use ng-app -->
  <body>
    <div>
        <!--  here {{}} is called binding expression to write any angular code -->
        10 + 20 =>  {{ 10 + 20  }}
    </div>
    <!--  just compare -->
    <div>
      {{ 1 == 2}}
    </div>

    <!-- use javascript plain object -->
    <div>
        {{ {name:'sunny khurana',age:'30'}.name }}
    </div>

    <!-- use array -->
    <div>
        {{ ['sahil','khurana','sunny','khurana'][2]}}
    </div>

    <div ng-controller="myController">
        <!-- here we use the controller -->
        {{ message }}
    </div>

    <!--  here we use second controller -->
    <div ng-controller="mySecondController">
        <div>
            First Name : - {{ employee.firstname }} <br />
            Last Name : - {{ employee.lastname }} <br />
            Gender : - {{ employee.gender }}
        </div>
    </div>

    <!-- use the another controller -->
    <div ng-controller="imagecontroller">
      <!-- <img src="Flag_of_the_United_States.svg.png" style="width:100px;height:100px"> -->

      <!--  use the properties-->
      <div>
          Name => {{ country.name }}
      </div>

      <div>
          Country Name => {{ country.capital  }}
      </div>

      <div>
        <!-- <img src="{{  country.flag  }}" style="height:100px;width:100px"> -->
      </div>

      <!--  use the image with ng-src -->
      <div>
          <img ng-src="{{ country.flag }}" style="height:100px;width:100px;">
      </div>

      <!-- use  two way data binding -->
      <div ng-controller="two-wayBinding">

          <!-- here we use the ng-model directive which means change in view  update the model-->
          <input type="text" ng-model ="message" />
          <br /><br />
          {{ message }}
      </div>

      <!-- use the concept of automatically create the model means change in view update the model automatically -->
      <div ng-controller ="two-wayBinding">

          <input type="text" ng-model="greetings">
          <br/><br/>
          {{  greetings  }}

      </div>
    <div ng-controller="TableController">
      <h3>Use Two-Way Data Binding</h3>
      <table>
          <tr>
            <td>First Name</td>
            <td>
              <input type="text" ng-model = "Collegename.name">
            </td>
          </tr>

          <tr>
            <td>College Place </td>
            <td>
              <input type="text" ng-model = "Collegename.place">
            </td>
          </tr>


          <tr>
            <td>College Course</td>
            <td>
              <input type="text" ng-model = "Collegename.course">
            </td>
          </tr>
      </table>
      <br />
      <br />
      <br />

      <table>
          <tr>
            <td>First Name</td>
            <td>
                {{  Collegename.name }}
            </td>
          </tr>

          <tr>
            <td>College Place </td>
            <td>
              {{  Collegename.place }}
            </td>
          </tr>


          <tr>
            <td>College Course</td>
            <td>
                {{  Collegename.course }}
            </td>
          </tr>
      </table>
    </div>

    <!--  use the concept of ng-repeat - it works similar like foreach loop in c# -->

    <div ng-controller="NGRepeat">
      <table>
          <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>Salary</th>
              </tr>
          </thead>

          <tbody>
              <!--  here ng-repeat use as a foreach loop in another languages-->
              <tr ng-repeat="employee in employees">
                  <td>{{ employee.firstname }}</td>
                  <td>{{ employee.lastname }}</td>
                  <td>{{ employee.gender }}</td>
                  <td>{{ employee.salary }}</td>
              </tr>
          </tbody>

      </table>
    </div>


    </div>

  </body>
</html>
