table {
  border-collapse: collapse;
  font-family: arial;
  margin-top: 25px;
  margin-bottom: 25px;
}

td {
  border: 1px solid black;
  padding: 5px;
}

th {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
